#canvas{
    z-index: 10000;
}

.heartDiseaseCanvas {
    z-index: 9999;
}

.legend-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.options {
    padding-top: 7%;
}

#canvas-content {
  padding-top: 200px;
    margin-top: 10%;
    margin-right: 10%;

    transition-timing-function: ease-out; 
    transition: 1s; 
    transform: translateY(-53.5%);
}
@media(max-width: 800px){
  #canvas-content {
    float:right;
    max-width: 50%;
    padding-top: 400px;
 }
 #container {
  align-items:center; 
  bottom: -30%;
 }
}

#canvas-content:hover {
    opacity: 1;
}

/* heart stuff */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --grey: #CCC;
  --magenta: #d90429; 
}

p > span {
    color: var(--magenta);
  }
  
  #container {
    height: 80vh;
    display: flex; 
    margin-left: 47%;
  }
  
  #heart {
    width: 150px;  
    stroke: var(--magenta);
    fill: var(--magenta);
    stroke-dasharray: 54;
    stroke-dashoffset: 54; 
    animation: 0.8s linear beat infinite;
  }
  
  @keyframes beat {
    0% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(0.9, 0.9);
    }
  
    100% {
      transform: scale(1, 1);
    }
  
  }

  #inima {
    position:absolute;                 
    bottom:0;  
  }