#canvas{
    z-index: 10000;
}

.heartDiseaseCanvas {
    z-index: 9999;
}

.legend-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.options {
    padding-top: 7%;
}

#canvas-content {
    float: right;
    margin-top: 10%;
    margin-right: 10%;

    transition-timing-function: ease-out; 
    transition: 1s; 
    transform: translateY(-53.5%);
}

#canvas-content:hover {
    opacity: 1;
}

/* heart stuff */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --grey: #CCC;
  --magenta: #F06; 
}

p > span {
    color: var(--magenta);
  }
  
  #container {
    height: 100vh; 
    display: flex; 
    justify-content: left; 
    align-items: left; 
    padding-top: 5px;
  }
  
  #heart {
    width: 150px;  
    stroke: var(--magenta);
    fill: var(--grey);
    stroke-dasharray: 54;
    stroke-dashoffset: 54; 
  }
  
  #heart.like {
    animation: 2s ease-in forwards like, 
    0.8s linear 2s 2 forwards beat;
  }
  
  #heart.unlike {
    animation: 2s ease-out forwards unlike; 
  }
  
  @keyframes like {
    0% {
      stroke-dashoffset: 54;
      fill: var(--grey);
    }
  
    70% {
      stroke-dashoffset: 0;
      fill: var(--grey);
    }
  
    100% {
      stroke-dashoffset: 0;
      fill: var(--magenta);
    }
  }
  
  @keyframes unlike {
    0% {
      stroke-dashoffset: 0;
      fill: var(--magenta); 
    }
    
    30% {
      stroke-dashoffset: 0;
      fill: var(--grey);
    }
    
    100% {
      stroke-dashoffset: 54;
      fill: var(--grey);
    }
  }
  
  
  @keyframes beat {
    0% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(0.9, 0.9);
    }
  
    100% {
      transform: scale(1, 1);
    }
  
  }