#canvas{
    z-index: 10000;
}

.heartDiseaseCanvas {
    z-index: 9999;
}

.legend-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.options {
    padding-top: 7%;
}

#canvas-content {
    float: right;
    margin-top: 10%;
    margin-right: 10%;

    transition-timing-function: ease-out; 
    transition: 1s; 
    transform: translateY(-53.5%);
}

#canvas-content:hover {
    opacity: 1;
}